.wave {
  scale: 1.2;
  animation: moveWave 4s ease-in-out infinite alternate;
}

.wave2 {
  scale: 1.2;
  animation: moveWave2 8s ease-in-out infinite alternate;
}

@keyframes moveWave {
  from {
    transform: translateX(90px);
  }
}

@keyframes moveWave2 {
  from {
    transform: translateX(-150px);
  }
}
